.mainContainerPersonalProjectContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1 {
  margin-bottom: 50px;
}

.sectionInfoVideo {
  width: 80%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.divImagesCarousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselPersonalProjectContent {
  width: 50%;
  height: auto;
}

.descriptionPersonalProjectContent{
  width: 45%;
  text-align: justify;
}

.videosPersonalProjectContent{
  width: 45%;
}

.containerTechnologiesUsed {
  margin-top: 20px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.technologyItem {
  display: inline-block;
  background-color: #011629;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
}

@media (max-width: 768px) {
  .sectionInfoVideo {
    flex-direction: column;
  }

  .carouselPersonalProjectContent,
  .descriptionPersonalProjectContent,
  .videosPersonalProjectContent {
    width: 100%;
    margin-bottom: 20px;
  }
}