.buttonViewCertificate {
   background-color: #1890ff !important;
   border-color: #1890ff !important;
   color: black !important;
}

.buttonViewCertificate:hover {
   background-color: #40a9ff !important;
   border-color: #40a9ff !important;
   color: black !important;
}